.menu {
  display: inline-flex;
  flex-direction: column;
  margin-right: 15px;
  padding: 15px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu span {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.list-item {
  list-style: none;
  
}

.icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.btn__transparent {
  /* color:rgb(243, 243, 243); */
  border: none;
  background: transparent;
  font-size: 16px;
}

.btn__transparent:hover {
  color: rgb(214, 178, 248);
  cursor: pointer;
}