.menu {
  display: inline-flex;
  min-width: 200px;
  flex-direction: column;
  margin-right: 15px;
  padding: 15px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 3px;
  box-shadow: 0 2px 23px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu span {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.list__item {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.btn__transparent {
  /* color:rgb(243, 243, 243); */
  font-size: 18px;
  border: none;
  background: transparent;
  /* font-size: 16px; */
}

.btn__transparent:hover {
  color: rgb(136, 126, 148);
  cursor: pointer;
}

/* .list__item > .selected {
  background: royalblue;
  color: rgb(140, 126, 151);
} */