.menu {
  display: inline-flex;
  min-width: 170px;
  flex-direction: column;
  margin-right: 15px;
  padding: 15px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 3px;
  box-shadow: 0 2px 23px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu span {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.list__item {
  list-style: none;
  font-size: 18px;
  /* margin-bottom: 10px; */
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.btn__transparent {
  /* color:rgb(243, 243, 243); */
  font-size: 18px;
  border: none;
  background: transparent;
  padding: 10px;
  width: 170px;
  margin: 5px;
}

.btn__transparent:hover {
  /* color: rgb(136, 126, 148); */
  background-color: rgba(121, 118, 138, 0.185);
  border-radius: 5px;
  cursor: pointer;
}

/* .list__item > */
.selected {
  background: #26252b;
  /* padding: 10px; */
  border-radius: 5px;
  color: white;
} 

.btn__transparent.selected:hover{ 
  color:rgb(243, 243, 243);
  background: #26252bde;
}