.main-favorites span {
  width: 100%;
}

.icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.contentItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}
.contentItem:hover{
  background-color: #a7aac075;
}

.itemImg img {
  border-radius: 100px;
  width: 64px;
  height: 64px;
}

.value {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.value h4, p {
  margin: 0;
}

.icon {
  width: 16px;
  height: 16px;
}