<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
  <title>layout</title>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header-navbar">
          <a class="navbar-brand" href="#">
            <object type="image/svg+xml" data="../styles/img/logo.svg" id="logo" class="brand-icon"></object>
          </a>
          <nav class="navbar">
            <ul class="navbar-content">
              <li class="navbar-content__item"><a href="#">Главная</a></li>
              <li class="navbar-content__item"><a href="#">Репозитории</a></li>
              <li class="navbar-content__item"><a href="#">О проекте</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
  <div class="wrapper">
    <main class="main">
      <aside class="main-favorites">
        <span>
          <object type="image/svg+xml" data="../styles/img/favorites.svg" id="favorites" class="favorites-icon"></object>
          Избранное</span>
        <ul class="favorites-content">
          <li class="favorites-content__item">repo 1</li>
          <li class="favorites-content__item">repo 2</li>
          <li class="favorites-content__item">repo 3</li>
        </ul>
      </aside>
      <aside class="main-menu">
        <div class="menu-search">
          <span class="search-icon">
            <object type="image/svg+xml" data="../styles/img/search.svg" id="search" class="search-icon"></object>
          </span>
          <form class="menu-form" action="#" method="GET">
            <input type="search" id="search" placeholder="Найти..." autofocus>
          </form>
          <span class="search-filter">
            <object type="image/svg+xml" data="../styles/img/filter.svg" id="filter" class="filter-icon"></object>
          </span>
        </div>
        <nav class="main-menu-navbar">
          <ul class="main-navbar-content">
            <li class="main-navbar-content__item">
                <div class="main-content__item-img"><img  src="../styles/img/user-image.jpeg"/></div>
                <div class="main-cotent__item-value">
                  <h4 class="main-cotent__item-title">Заголовок</h4>
                  <p class="main-cotent__item-text">Описание</p>
                </div>
                <span class="search-icon">
                  <object type="image/svg+xml" data="../styles/img/favorites.svg" id="favorites" class="favorites-icon"></object>
                </span>
            </li>
            <li class="main-navbar-content__item">
              <div class="main-content__item-img"><img  src="../styles/img/user-image.jpeg"/></div>
              <div class="main-cotent__item-value">
                <h4 class="main-cotent__item-title">Заголовок</h4>
                <p class="main-cotent__item-text">Описание</p>
              </div>
              <span class="search-icon">
                <object type="image/svg+xml" data="../styles/img/favorites.svg" id="favorites" class="favorites-icon"></object>
              </span>
            </li>
          </ul>
        </nav>
      </aside>
      <section class="main-result">
        <div class="main-container">
          <div class="main-content">
              <div class="result-image">
                <img src="../styles/img/user-image.jpeg" />
              </div>
              <div class="result-content">
                <h1 class="result-content__title">Заголовок</h1>
                <p class="result-content__description">Описание</p>
              </div>
            <div class="main-favorites-btn">
              <button>
                <object type="image/svg+xml" data="../styles/img/favorites.svg" id="favorites" class="favorites-icon"></object>
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
</html>