*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.header {
  display: inline-flex;
  flex-wrap: wrap;
  min-width: auto;
  background-color: blueviolet;
}

.container {
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.header-navbar a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.header-navbar a:hover {
  text-decoration: underline;
  color: rgb(53, 53, 53);
}

.navbar-brand {
  width: 100%;
  max-width: 20%;
  align-self: center;
  text-align: center;
}

.brand-icon {
  width: 32px;
  height: 32px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  flex-flow: row wrap;
  flex-basis: auto auto 50%;
  justify-content: flex-start;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px;
}

.main-favorites {
  display: inline-flex;
  flex-direction: column;
  margin-right: 15px;
  padding: 15px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main-favorites span {
  width: 100%;
}

.favorites-icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.favorites-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.favorites-content__item {
  font-size: 14px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  padding: 25px;
  border: 1px solid rgb(214, 178, 248);
  background-color: rgb(214, 178, 248);
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.search-icon {
  width: 16px;
  height: 16px;
}

.menu-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.menu-form input {
  font-size: 14px;
  border-radius: 3px;
  margin: 0 5px 0 5px;
  background: rgb(214, 178, 248);
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  outline: #fff;
}

.menu-form input::-webkit-input-placeholder {
  color: #fff;
}
.menu-form input:-moz-placeholder {
  color: #fff;
}

.menu-form input:active,
.menu-form input:hover,
.menu-form input:focus {
  font-size: 14px;
  color: #fff;
}

.filter-icon {
  width: 16px;
  height: 16px;
}

.main-menu-navbar {
  margin-top: 15px;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-navbar-content {
  display: flex;
  flex-direction: column;
}

.main-navbar-content__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.main-content__item-img img {
  border-radius: 100px;
  width: 64px;
  height: 64px;
}

.main-cotent__item-value {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-cotent__item-value h4, p {
  margin: 0;
}

.main-result {
  display: flex;
  flex-grow: 1;
  padding: 25px;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgb(243, 243, 243);
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main-container {
  width: 100%;
  margin: 0 auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.result-image img {
  max-width: 128px;
  max-height: 128px;
}

.result-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 5px;
}

.result-content h1{
  margin: 0;
}

.main-favorites-btn button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-favorites-btn button > .favorites-icon {
  width: 32px;
  height: 32px;
}